html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
div,
h1,
h2,
p {
  margin: 0;
  text-transform: none;
}

@font-face {
  font-family: "UniSans_HeavyItalic";
  src: url("./assets/fonts/UniSans-Trial-HeavyItalic.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "UniSans_Bold";
  src: url("./assets/fonts/UniSans-Trial-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "UniSans_SemiBold";
  src: url("./assets/fonts/UniSans-Trial-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "UniSans_Regular";
  src: url("./assets/fonts/UniSans-Trial-Regular.otf");
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "UniSans_Thin";
  src: url("./assets/fonts/UniSans-Trial-HeavyItalic.otf");
  font-weight: 900;
  font-style: italic;
}


.background {
  position: relative;
  max-width: 1920px;
  z-index: 1;
  width: 100%;
  height: 1080px;
  background:
  url("./assets/img/bg1.png") center no-repeat;
  background-size: 1920px 1080px;
  margin: 0 auto;
  overflow: hidden;
}

.boll-1 {
  position: absolute;
  top: 5.2%; /* 56px */
  left: 10.1%; /* 194px; */
  width: 180px;
  height: 171px;
  background:
  url("./assets/img/shar01.png") center no-repeat;
  background-size: 180px 171px;
}

.boll-2 {
  position: absolute;
  bottom: 13.1%; /* 141px; */
  right: -2.7%; /* -51px; */
  z-index: 10;
  width: 364px;
  height: 358px;
  background:
  url("./assets/img/shar02.png") center no-repeat;
  background-size: 364px 358px;
}

.boll-3 {
  position: absolute;
  top: 21%; /* 227px; */
  right: 19%; /* 365px; */
  width: 64px;
  height: 64px;
  background:
  url("./assets/img/shar03.png") center no-repeat;
  background-size: 64px 64px;
}

.boll-4 {
  position: absolute;
  top: 43.3%; /* 468px; */
  right: 17.8%; /* 341px */;
  z-index: 8;
  width: 72px;
  height: 72px;
  background:
  url("./assets/img/shar04.png") center no-repeat;
  background-size: 72px 72px;
}

.boll-5 {
  position: absolute;
  bottom: 38.7%; /* 418px; */
  left: 6.8%; /* 131px; */
  width: 62px;
  height: 62px;
  background:
  url("./assets/img/shar05.png") center no-repeat;
  background-size: 62px 62px;
}

.boll-6 {
  position: absolute;
  top: 28.7%; /* 310px; */
  right: 9.7%; /* 187px; */
  width: 48px;
  height: 48px;
  background:
  url("./assets/img/shar03.png") center no-repeat;
  background-size: 48px 48px;
}

.dust {
  position: absolute;
  bottom: 2.7%; /* 29px; */
  left: -1.1%; /* -22px; */
  width: 1658px;
  height: 921px;
  background:
  url("./assets/img/decals.png") center no-repeat;
  background-size: 1658px 921px;
}

.girl {
  position: absolute;
  bottom: -0.9%; /* -10px; */
  left: 4.6%; /* 88px; */
  z-index: 9;
  width: 838px;
  height: 804px;
  background:
  url("./assets/img/devushka1.png") center no-repeat;
  background-size: 838px 804px;
}


/*контент*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 835px;
  width: 100%;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto 15px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 29px 0 24px;
}

.subtitle {
  font-family: "UniSans_HeavyItalic";
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 4.5px;
  text-align: center;
}

.title__bg {
  background: #C6217D;
  width: 495px;
  -webkit-transform: skew(-7deg);
  -moz-transform: skew(-7deg);
  -o-transform: skew(-71deg);
  transform: skew(-7deg);
  box-sizing: border-box;
}

.title {
  font-family: "UniSans_HeavyItalic";
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 5px 3px;
  transform: skew(7deg);
}

.spinner__wrapper {
  position: relative;
  z-index: 5;
  width: 835px;
  height: 835px;
  background:
  url("./assets/img/bg_whell1.png") center no-repeat;
  background-size: 835px auto;
  margin: 0 auto;
}

.spinner {
  position: absolute;
  z-index: 6;
  width: 642px;
  top: 66px;
  left: 94px;
}

.prize {
  position: absolute;
  z-index: 7;
  width: 260px;
  top: 69px;
  left: 286px;
}

.button {
  position: absolute;
  z-index: 100;
  width: 140px;
  top: 319px;
  left: 345px;
  cursor: pointer;
}


.pop-up__wrapper {
  display: none;
}

/*попап*/
.active { /*overlay*/
  display: block;
  position: absolute;
  z-index: 100;
  left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: right 0.8s;
}

.pop-up {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 651px;
  width: 100%;
}

 .lost .img {
  margin: 399px 0 0 20px;
}

.text {
  position: absolute;
  left: 0; right: 0; bottom: 236px;
  margin: 0 auto 16px;
  max-width: 515px;
  width: 100%;
  box-sizing: border-box;
}

.lost .text {
  left: -48px; bottom: 232px;
}

.pop-up__caption{
  font-family: "UniSans_SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFD953;
  text-shadow: 0px 0px 10px #FFD953;
}

.lost .pop-up__caption {
  font-size: 56px;
  line-height: 67px;
}

.desc {
  font-family: "UniSans_Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 38px;
  text-transform: none;
}

.remove {
  display: none;
}

.button__wrapper {
  position: absolute;
  left: 0; right: 0; bottom: 141px;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
}

.lost .button__wrapper {
  left: -48px; bottom: 131px;
}

.pop-up__button {
  font-family: "UniSans_Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313131;
  text-shadow: 0px 2px 0px #FFEA83;
  background: linear-gradient(180deg, #FEED7C 0%, #FFC54B 100%);
  border-radius: 40px;
  padding: 30px 118px 24px;
}

.lost .pop-up__button {
  padding: 30px 48px 23px;
}




@media (max-width: 375px) {
  .background {
    max-width: 375px;
    height: 770px;
    width: 100%;
    background:
    url("./assets/img_mob/bg1.png") center no-repeat;
    background-size: 375px 770px;
    margin: 0 auto;
  }

  .boll-1 {
    top: -1%;/* -7px; */
    left: -11.2%; /* -42px; */
    width: 94px;
    height: 89px;
    background-size: 94px 89px;
  }

  .boll-2 {
    bottom: -8.2%; /* -63px; */
    right: -22.4%; /* -84px; */
    width: 190px;
    height: 187px;
    background-size: 190px 187px;
  }

  .boll-3 {
    top: 2.6%; /* 20px; */
    right: 6.9%; /* 26px; */
    width: 52px;
    height: 52px;
    background-size: 52px 52px;
  }

  .boll-4 {
    top: 55.3%; /* 426px; */
    right: -5.6%; /* -21px; */
    width: 58px;
    height: 58px;
    background-size: 58px 58px;
  }

  .boll-5 {
    top: 27.4%; /* 211px; */
    left: -2.7%; /* -10px; */
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }

  .boll-6 {
    top: 23.6%; /* 182px; */
    right: -2.1%; /* -8px; */
    width: 39px;
    height: 39px;
    background-size: 39px 39px;
  }

  .dust {
    display: none;
  }

  .girl {
    bottom: -5.6%;/*  -43px; */
    left: -2.7%; /* -10px; */
    width: 410px;
    height: 394px;
    background-size: 410px 394px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 350px;
  }

  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin: 30px 0 22px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 7px;
  }

  .title__bg {
    width: 334px;
  }

  .title {
    font-size: 26px;
    line-height: 31px;
    padding: 4.5px 5px 4.5px;
  }

  .spinner__wrapper {
    width: 402px;
    height: 402px;
    background-size: 402px auto;
    margin-top: 17px;
    margin-left: -22.5px;
  }

  .spinner {
    width: 309px;
    top: 32px;
    left: 45px;
  }

  .prize {
    width: 125px;
    top: 33px;
    left: 138px;
  }

  .button {
    width: 67.4px;
    top: 153px;
    left: 166px;
    cursor: pointer;
  }

  .img {
    width: 406px;
    margin-left: -15.6px;
    margin-top: 7px;
  }

  .lost .img {
    margin: 250px 0 0 7px;
  }

  .text {
    left: 0; right: 0; bottom: 186px;
  }

  .lost .text {
    left: 0; bottom: 186px;
  }

  .pop-up__caption{
    font-size: 40px;
    line-height: 48px;
  }

  .lost .pop-up__caption {
    font-size: 40px;
    line-height: 48px;
  }

  .desc {
    font-size: 20px;
    line-height: 24px;
    padding: 0 78px;
  }

  .button__wrapper {
    position: absolute;
    left: 0; right: 0; bottom: 134px;
    margin: 0 auto;
    max-width: 218px;
  }

  .lost .button__wrapper {
    left: 0; bottom: 134px;
  }

  .pop-up__button {
    font-size: 24px;
    line-height: 29px;
    padding: 14px 64px 10px;
  }

  .lost .pop-up__button {
    font-size: 24px;
    line-height: 29px;
    padding: 15px 7px 11px;
  }

}