html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
div,
h1,
h2 {
  margin: 0;
}

@font-face {
  font-family: "Uni_Sans";
  src: url("./assets/fonts/Uni_Sans_Heavy_Italic.otf");
  font-weight: 900;
}

.background {
  max-width: 1920px;
  height: 1080px;
  width: 100%;
  background:
  url("./assets/img/bg1.png") center no-repeat;
  background-size: 1920px 1080px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 835px;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 29px 0 24px;
}

.subtitle {
  font-family: "Uni_Sans";
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 6px;
  text-align: center;
}

.title__bg {
  background: #C6217D;
  width: 495px;
  -webkit-transform: skew(-7deg);
  -moz-transform: skew(-7deg);
  -o-transform: skew(-71deg);
  transform: skew(-7deg);
  box-sizing: border-box;
}

.title {
  font-family: "Uni_Sans";
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 5px 3px;
  transform: skew(7deg);
}


@media (max-width: 375px) {
  .background {
    max-width: 375px;
    height: 730px;
    width: 100%;
    background:
    url("./assets/img_mob/bg1.png") center no-repeat;
    background-size: 375px 730px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 350px;
  }

  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin: 30px 0 22px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 7px;
  }

  .title__bg {
    width: 334px;
  }

  .title {
    font-size: 26px;
    line-height: 31px;
    padding: 4.5px 5px 4.5px;
  }
}